<div class="navbar navbar-light p-2 bg-light">
    <a class="navbar-brand"
        >{{ title }} <span *ngIf="titleCount" class="badge">{{ titleCount }}</span>
    </a>

    <a class="navbar-brand" *ngIf="isLoggedIn">
        <span> {{ username }} </span>
        <div class="btn-group mr-4" dropdown placement="bottom right">
            <button dropdownToggle type="button" class="btn btn-light dropdown-toggle" aria-controls="dropdown-basic">
                <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
            </ul>
        </div>
    </a>
</div>
