<div class="d-flex pagination gap-10 flex-wrap justify-content-between">
    <div class="d-flex pagination flex-wrap align-items-baseline">
        <span
            >Viewing {{ (page.page - 1) * page.itemsPerPage + 1 }}-{{
                page.page * page.itemsPerPage < totalItems ? page.page * page.itemsPerPage : totalItems
            }}
            of {{ totalItems }}</span
        >
        <pagination
            (pageChanged)="pageChanged($event)"
            [itemsPerPage]="page.itemsPerPage"
            [totalItems]="totalItems"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
        >
        </pagination>
    </div>

    <div class="d-flex pagination flex-wrap item-list">
        <select class="form-select" (change)="onItemSelect($event.target.value)">
            <option *ngFor="let item of itemsPerPageList" [value]="item">{{ item }}</option>
        </select>
    </div>
</div>
