<div class="container login-container">
    <div class="py-4">
        <emp-alert></emp-alert>
        <div class="row">
            <div class="col-12">
                <emp-input-text
                    [control]="loginForm.controls['username']"
                    [icon]="faEnvelope"
                    id="username"
                    placeholder="Username"
                    size="lg"
                ></emp-input-text>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <emp-input-text
                    [icon]="faLock"
                    [control]="loginForm.controls['password']"
                    id="password"
                    placeholder="Password"
                    [isPassword]="true"
                    size="lg"
                ></emp-input-text>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-12 d-flex justify-content-end">
                <emp-button [isFullWidth]="true" [disabled]="loginForm.invalid" (submit)="onLogin()" size="lg">Login</emp-button>
            </div>
        </div>
    </div>
</div>
