.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
}
@media only screen and (max-width: 767px) {
    .login-container {
        width: 100%;
    }
}
