<label class="pb-2">{{ label }}</label>
<div class="checkbox-wrapper" *ngIf="control && control.get('items')" [formGroup]="control">
    <ng-container formArrayName="items" *ngFor="let item of formItems; let i = index">
        <input type="checkbox" [formControl]="item.get('selected')" class="checkbox" id="{{ i }}" />
        <label class="multicheck" [ngClass]="[item.value.selected === true ? 'selected' : '']" for="{{ i }}"> {{ item.get('label').value }}</label>
    </ng-container>
</div>
