@import '~bootstrap/scss/bootstrap';

.checkbox-wrapper {
    display: flex;
    gap: 5px;
    .checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .multicheck {
        border: 2px solid gray;
        padding: 1px 15px;
        border-radius: 20px;
        &.selected {
            border-color: $primary;
        }
    }
}
