<ng-http-loader
    [backdrop]="false"
    [backgroundColor]="'#0d6efd'"
    [debounceDelay]="100"
    [extraDuration]="300"
    [minDuration]="300"
    [opacity]="0.6"
    [backdropBackgroundColor]="'#0d6efd'"
    [spinner]="spinner"
>
</ng-http-loader>
<div class="app-container">
    <emp-app-bar> </emp-app-bar>
    <router-outlet></router-outlet>
    




    
</div>
