::ng-deep .filter-container {
    top: 15px !important;
    min-width: 20rem;
    min-height: 20rem;
    .popover-body {
        height: 100%;
    }
    .filter-items {
        max-height: 10rem;
        min-height: 15rem;
    }
}
