<emp-button
    type="secondary"
    #popover="bs-popover"
    containerClass="filter-container"
    [popover]="popTemplate"
    placement="bottom right"
    [adaptivePosition]="false"
    [outsideClick]="true"
    >Filter</emp-button
>

<ng-template #popTemplate>
    <div class="filter-items">
        <ng-content></ng-content>
    </div>
    <div class="popover-footer">
        <div class="row">
            <div class="col-6">
                <emp-button (submit)="applyFilter()" [isFullWidth]="true">Apply Filter</emp-button>
            </div>
            <div class="col-6">
                <emp-button (submit)="resetFilter()" [isFullWidth]="true" type="secondary">Reset</emp-button>
            </div>
        </div>
    </div>
</ng-template>
