<div class="content">
    <emp-alert></emp-alert>
    <div class="d-flex justify-content-end">
        <emp-button (submit)="addNewtask()">Add new task</emp-button>
    </div>

    <div class="py-2 actions d-flex justify-content-end">
        <emp-input-text [control]="searchControl" placeholder="Search tasks"></emp-input-text>
        <emp-filter (apply)="applyFilter()" (reset)="resetFilter()">
            <emp-multi-checkbox label="Status" [control]="statusForm" [list]="statusList"></emp-multi-checkbox>
        </emp-filter>
    </div>

    <ng-container *ngIf="tasks?.length > 0; else norecords">
        <div class="row">
            <div class="col-lg-4 py-2" *ngFor="let task of tasks">
                <emp-card>
                    <div class="d-flex justify-content-start mb-4">
                        <emp-badge [type]="task.completed ? 'success' : 'danger'">{{ task.completed ? 'Completed' : 'Not Completed' }}</emp-badge>
                    </div>
                    <span>
                        {{ task.title }}
                    </span>
                </emp-card>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add new task</h4>
    </div>
    <div class="modal-body">
        <emp-input-text-area id="taskDetails" [control]="taskForm.get('task')" label="Task Details"> </emp-input-text-area>

        <div class="pt-4 d-flex justify-content-between">
            <emp-button (submit)="closeModal()" type="secondary">Cancel</emp-button>
            <emp-button [disabled]="taskForm.invalid" (submit)="onSubmit()">Submit</emp-button>
        </div>
    </div>
</ng-template>

<ng-template #norecords>
    <div *ngIf="isLoaded" class="w-100 h-50 d-flex align-items-center justify-content-center">
        <span> No tasks found </span>
    </div>
</ng-template>
