<div class="input-container mb-2">
    <label class="sr-only" for="{{ id }}" *ngIf="hideLabel">{{}label}</label>
    <div class="input-group {{ size }}">
        <div class="input-group-prepend" *ngIf="icon">
            <div class="input-group-text {{ size }} d-flex justify-content-center">
                <fa-icon [icon]="icon"></fa-icon>
            </div>
        </div>

        <input
            [type]="isPassword ? 'password' : 'text'"
            class="form-control"
            [formControl]="_control"
            [ngClass]="[icon ? 'only-text' : '']"
            id="{{ id }}"
            placeholder="{{ placeholder }}"
            (blur)="onBlur()"
            [ngClass]="[isInValid ? 'invalid' : '']"
            autocomplete="off"
        />
    </div>
    <small class="error-text" *ngIf="currentError"> {{ currentError.errorText }}</small>
</div>
