.input-container {
    .input-group {
        &.lg {
            height: 4rem;
        }
        .form-control {
            &.only-text {
                border-left: unset;
                &.invalid {
                    border-left: 1px solid red;
                }
            }

            &:focus {
                box-shadow: unset;
            }
            &.invalid {
                border-color: red;
            }
        }

        .input-group-text {
            &.lg {
                height: 4rem;
            }

            width: 4rem;
            background-color: transparent;
        }
    }

    .error-text {
        color: red;
    }

    .search-icon {
        border: 1px solid #ced4da;
        cursor: pointer;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}
