<div class="content">
    <emp-card>
        <div class="row d-flex justify-content-end">
            <div class="col-lg-3 col-6 d-flex justify-content-end">
                <emp-input-text placeholder="Search Employees" [control]="searchControl"></emp-input-text>
            </div>
        </div>

        <ng-container *ngIf="employeeCount > 0; else norecords">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employees">
                            <td>
                                <a class="name" (click)="navigateToTasks(employee.id)">{{ employee.name }}</a>
                            </td>
                            <td>{{ employee.phone }}</td>
                            <td>{{ employee.email }}</td>
                        </tr>
                    </tbody>
                </table>

                <emp-pagination
                    *ngIf="employeeCount > 0"
                    [page]="page"
                    (pageChange)="onPageChanged($event)"
                    [totalItems]="employeeCount"
                ></emp-pagination>
            </div>
        </ng-container>
    </emp-card>
</div>

<ng-template #norecords>
    <div *ngIf="isLoaded" class="w-100 h-50 d-flex align-items-center justify-content-center">
        <span> No employees found </span>
    </div>
</ng-template>
