@import '~bootstrap/scss/bootstrap';

.table {
    thead {
        th {
            cursor: pointer;
        }
    }
    tbody {
        td {
            padding-left: unset !important;
            .name {
                text-decoration: unset;
                color: $primary;
                cursor: pointer;
            }
        }
    }
}
