.badge {
    &.primary {
        background-color: #007bff;
    }
    &.secondary {
        background-color: #6c757d;
    }
    &.success {
        background-color: #28a745;
    }
    &.danger {
        background-color: #dc3545;
    }
}
