<div class="form-group">
    <label for="{{ id }}">{{ label }}</label>
    <textarea
        (blur)="onBlur()"
        [ngClass]="[isInValid ? 'invalid' : '']"
        [formControl]="_control"
        class="form-control"
        id="{{ id }}"
        rows="{{ textRow }}"
    ></textarea>
    <small class="error-text" *ngIf="currentError"> {{ currentError.errorText }}</small>
</div>
