.form-group {
    .error-text {
        color: red;
    }
    .form-control {
        &:focus {
            box-shadow: unset;
        }
        &.invalid {
            border-color: red;
        }
    }
}
